.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------side form------- */
.side-form{
  height: 85vh;
  width: 80%;
  background-color: rgba(78, 151, 235, 0.432);
  position: fixed;
  top: 14.5vh;
  right:0;
  transition:all 0.3s ease-out;
  z-index: 10;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
	
.block:hover {
  background-color: rgb(15, 8, 8);
  color: rgb(21, 217, 243);
}

.home-card{
  transition: all 0.3s ease-out;
}
.home-card:hover{
  box-shadow: 0 0 6px 6px rgb(0 123 255 / 23%);
  transform: scale(1.01);
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: 90px;
  
}
.cards{
	width:100%;
	height:auto;
	background-color: chocolate;
}
.t-card{
	background-color: rgb(0, 0, 88);
    margin:6%;
    transition:all .4s cubic-bezier(.175,.885,0,1);
    background-color:#FFF;
    width:21.25%;
    border-radius:12px;
    box-shadow:0px 13px 10px -7px rgba(0,0,0,.1);
    float:left;
}
.card__img{
	width:100%;
	height:235px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}
